/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Container */
#header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    background-color: #1563b1;
    border-bottom: 2px solid #ccc;
    gap: 50px;
    justify-content: center;
}

#header-container h1 {
    color:white;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-color: #f0f0f0;
    min-height: 200px; 
}


.nav-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nav-bloc h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.nav-bloc ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bloc li {
    margin-bottom: 5px;
}

.nav-bloc a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-bloc a:hover {
    color: #007BFF;
}


.nav-home {
    font-weight: bold;
    align-self: center;
}


/* Logo */
#logo {
    align-self: flex-start;
}

#logo a {
    text-decoration: none;
    font-size: 16px;
    color: #007BFF;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

#logo a:hover {
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

/* Images */
#images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

#images img {
    max-width: 400px;
}

/* Fichier static/css/style.css */

.logo-text-container {
    display: flex;           /* Utilise Flexbox pour organiser les éléments */
    flex-direction: column;  /* Dispose les éléments (image et texte) en colonne */
    align-items: center;     /* Centre les éléments horizontalement */
    text-align: center;      /* Centre le texte */
}

.small-logo {
    width: 200px;    /* Ajustez la largeur selon votre besoin */
    height: 200px;   /* Ajustez la hauteur selon votre besoin */
    object-fit: contain;  /* Assure que l'image garde ses proportions */
    margin-bottom: 8px;   /* Ajoute de l'espace entre l'image et le texte */
}


/* Title */
#title {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#nav ul li {
    display: inline;
}

#nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #007BFF;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

#nav ul li a:hover {
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

/* En-tête */
h1, h2 {
    text-align: center;
    color: #0056b3;
    margin-bottom: 20px;
}

#selected_country_name h2{
    color: white;
    background-color: #0056b3;
    padding: 2em;
}

/* Conteneur principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
}

form select, form button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #004494;
}

/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    color: #0056b3;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Graphiques */
#chart {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

/* Pied de page */
footer {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    color: #666;
}

/* Styles pour les types d'énergie */
.coal {
    background-color: #d3d3d3;
}

.gas {
    background-color: #ff7f0e;
}

.oil {
    background-color: #696969;
}

.hydro {
    background-color: #1f77b4;
}

.renewable {
    background-color: #9467bd;
}

.nuclear {
    background-color: #2ca02c;
}

th.coal {
    background-color: #d3d3d3;
}

th.gas {
    background-color: #ff7f0e;
}

th.oil {
    background-color: #696969;
}

th.hydro {
    background-color: #1f77b4;
}

th.renewable {
    background-color: #9467bd;
}

th.nuclear {
    background-color: #2ca02c;
}


/* Section pour les proportions */
.proportions {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.proportions h2 {
    text-align: center;
    color: #0056b3;
    margin-bottom: 15px;
}

.proportions ul {
    list-style-type: none;
    padding: 0;
}

.proportions ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.proportions ul li:last-child {
    border-bottom: none;
}


/* Section Proportions */
#proportions-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#proportions-container h2 {
    color: #0056b3;
    text-align: center;
}

#proportions-container ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

#proportions-container ul li {
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

#proportions-container ul li:nth-child(even) {
    background-color: #f2f2f2;
}

#proportions-container ul li:hover {
    background-color: #f1f1f1;
}
