<!DOCTYPE html>
<html lang="fr-fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carbon Footprint Analysis</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    </head>
    <body>

        <header>
            <div id="header-container">

                <div id="logo">
                    <a href="/">Accueil</a>
                </div>

                <div id="images">
                    <img src="{{ url_for('static', filename='img/IA1.png') }}" alt="IA1">
                    <img src="{{ url_for('static', filename='img/IA2.png') }}" alt="IA2">
                    <img src="{{ url_for('static', filename='img/IA3.png') }}" alt="IA3">
                    <img src="{{ url_for('static', filename='img/IA4.png') }}" alt="IA4">
                </div>
                
            </div>

            <div id="title">

                <h1>Calculateur d’Empreinte Carbone</h1>

                <h2>Production Électrique</h2>

                <nav id="navigation">
                    <ul>
                        <li><a href="/country-energy-usage">Classement des pays par sources d'énergie</a></li>
                        <li><a href="/regions-energy-usage">Classement des régions par sources d'énergie</a></li>
                        <li><a href="/energy-source-proportions">Proportions des sources d'énergie pour la production totale</a></li>
                        <li><a href="world-map">Carte du Monde des sources d'énergie</a></li> 
                    </ul>
                </nav>

                <h2>Empreinte Carbone</h2>

                <nav id="navigation">
                    <ul>
                        <li><a href="/emission_contribution">les emissions de co2 par pays et par energie</a></li>
                        <li><a href="/total-emissions">XX Émissions Totales XX</a></li>
                        <li><a href="/selected_country_total_emissions">Émissions Totales Du Pays Sélectionné</a></li>
                        <li><a href="/coal-usage">XX Usage du Charbon XX</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <div id="container">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
