<!DOCTYPE html>
<html lang="fr-fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carbon Footprint Analysis</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    </head>
    <body>

        <header>
            <div id="header-container">

                <div id="logo">
                    <a href="/">Accueil</a>
                </div>

                <div id="images">
                    <img src="{{ url_for('static', filename='img/IA1.png') }}" alt="IA1">
                    <img src="{{ url_for('static', filename='img/IA2.png') }}" alt="IA2">
                    <img src="{{ url_for('static', filename='img/IA3.png') }}" alt="IA3">
                    <img src="{{ url_for('static', filename='img/IA4.png') }}" alt="IA4">
                </div>
                
            </div>

            <div id="title">


                <h1>Analyse de la Production Électrique</h1>

                <nav id="navigation">
                    <ul>
                        <li>
                            <a href="/country-energy-usage">
                                <div class="logo-text-container">
                                    <img src="{{ url_for('static', filename='img/classement_pays_logo.webp') }}" 
                                         alt="Classement des pays" 
                                         class="small-logo">
                                    Classement des pays par sources d'énergie
                                </div>
                            </a>
                        </li>                                              
                        <li>
                            <a href="/regions-energy-usage">
                                <div class="logo-text-container">
                                    <img src="{{ url_for('static', filename='img/classement_regions_logo.webp') }}" 
                                         alt="Classement des régions" 
                                         class="small-logo">
                                    Classement des régions par sources d'énergie
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/energy-source-proportions">
                                <div class="logo-text-container">
                                    <img src="{{ url_for('static', filename='img/proportion_logo.png') }}" 
                                         alt="Proportions des sources d'énergie" 
                                         class="small-logo">
                                    Proportions des sources d'énergie pour la production totale
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/world-map">
                                <div class="logo-text-container">
                                    <img src="{{ url_for('static', filename='img/carte_logo.png') }}" 
                                         alt="Carte du Monde des sources d'énergie" 
                                         class="small-logo">
                                         Carte du Monde des sources d'énergie
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>

                <h1>Analyse de l'Empreinte Carbone</h1>

                <nav id="navigation">
                    <ul>
                        <li><a href="/emission_contribution">les emissions de co2 par pays et par energie</a></li>
                        <li><a href="/total_emission">Émissions Totales</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <div id="container">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
