{% extends "base.html" %}

{% block content %}

<h1>Tableau des pays</h1>
<form method="get" action="/emission_contribution" id="country-form">
    <label for="country">Sélectionnez un pays ou une région :</label>
    <select id="country" name="country" onchange="document.getElementById('country-form').submit();">
        <optgroup label="Mondiale">
            <option value="">Mondiale</option>
        </optgroup>
        <optgroup label="Pays">
            {% for c in countries %}
            <option value="{{ c }}" {% if c==country %}selected{% endif %}>{{ c }}</option>
            {% endfor %}
        </optgroup>
        <optgroup label="Régions">
            {% for r in regions %}
            <option value="{{ r }}" {% if r==country %}selected{% endif %}>{{ r }}</option>
            {% endfor %}
        </optgroup>
    </select>
</form>
<table>
    <thead>
        <tr>
            {% for column in emission_contribution_data[0].keys() %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for country_or_region in emission_contribution_data %}
        <tr>
            {% for value in country_or_region.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}