<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proportions des Émissions par Source d’Énergie</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Proportions des Émissions par Source d’Énergie</h1>

    <form method="get" action="/energy-source-proportions">
        <label for="country">Sélectionnez un pays :</label>
        <select id="country" name="country">
            <option value="">Tous les pays</option>
            {% for c in countries %}
                <option value="{{ c }}" {% if c == country %}selected{% endif %}>{{ c }}</option>
            {% endfor %}
        </select>
        <button type="submit">Mettre à jour</button>
    </form>

    <div id="pie-chart"></div>
    <script>
        var data = [{
            values: [{{ data['total_coal'] }}, {{ data['total_gas'] }}, {{ data['total_oil'] }}, {{ data['total_hydro'] }}, {{ data['total_renewables'] }}, {{ data['total_nuclear'] }}],
            labels: ['Charbon', 'Gaz', 'Pétrole', 'Hydroélectrique', 'Renouvelables', 'Nucléaire'],
            type: 'pie'
        }];

        var layout = {
            title: 'Proportions des Émissions par Source d’Énergie'
        };

        Plotly.newPlot('pie-chart', data, layout);
    </script>
    <h1>Tableau des pays</h1>
    <table>
        <thead>
            <tr>
                {% for column in emission_contribution_data[0].keys() %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for country in emission_contribution_data %}
            <tr>
                {% for value in country.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
