<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proportions des Émissions par Source d’Énergie pour {{ country if country else 'Tous les pays' }}</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Proportions mondiale et par pays des sources d'énergie pour la production totale d'électricité en 2015</h1>
    <h1 style="text-align: center;">{{ country if country else 'Mondiale' }}</h1>
    
    <form method="get" action="/energy-source-proportions" id="country-form">
        <label for="country">Sélectionnez un pays ou une région :</label>
        <select id="country" name="country" onchange="document.getElementById('country-form').submit();">
            <optgroup label="Mondiale">
                <option value="">Mondiale</option>
            </optgroup>
            <optgroup label="Pays">
                {% for c in countries %}
                    <option value="{{ c }}" {% if c == country %}selected{% endif %}>{{ c }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="Régions">
                {% for r in regions %}
                    <option value="{{ r }}" {% if r == country %}selected{% endif %}>{{ r }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </form>

    <div id="pie-chart"></div>

    <script>
        var values = [{{ data['total_coal'] }}, {{ data['total_gas'] }}, {{ data['total_oil'] }}, {{ data['total_hydro'] }}, {{ data['total_renewables'] }}, {{ data['total_nuclear'] }}];
        var labels = ['Charbon', 'Gaz', 'Pétrole', 'Hydroélectrique', 'Renouvelables', 'Nucléaire'];
        var colors = ['#d3d3d3', '#ff7f0e', '#696969', '#1f77b4', '#9467bd', '#2ca02c'];

        // Filtrer les valeurs et les étiquettes pour exclure les valeurs de 0
        var filteredValues = [];
        var filteredLabels = [];
        var filteredColors = [];

        for (var i = 0; i < values.length; i++) {
            if (values[i] > 0) {
                filteredValues.push(values[i]);
                filteredLabels.push(labels[i]);
                filteredColors.push(colors[i]);
            }
        }

        var data = [{
            values: filteredValues,
            labels: filteredLabels,
            type: 'pie',
            marker: {
                colors: filteredColors
            },
            textinfo: 'label+percent',
            textposition: 'outside',
            textfont: {
                color: filteredColors
            },
            automargin: true
        }];

        var layout = {
            showlegend: false
        };

        Plotly.newPlot('pie-chart', data, layout);
    </script>
</body>
</html>
