<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Analysis</title>
</head>
<body>
    <h1>Carbon Footprint Analysis</h1>
    <ul>
        <li><a href="/energy-usage">Classement des Pays par Source d'Énergie pour la Production d'Électricité en 2015</a></li>
        <li><a href="/energy-source-proportions">Proportions mondiale, par pays ou régions des sources d'énergie  pour la production totale d'électricité en 2015</a></li>
    </ul>
</body>
</html>
