<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Analysis</title>
</head>
<body>
    <h1>Carbon Footprint Analysis</h1>
    <ul>
        <li><a href="/energy-usage">Classement des Pays par Usage des Sources d'Énergie</a></li>
        <li><a href="/energy-source-proportions">Pourcentage d'utilisation de différentes sources d'énergie en 2015 pour la production d'électricité</a></li>
    </ul>
</body>
</html>
