<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Emissions</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Classement des Pays par Émissions Totales</h1>
    <div id="bar-chart"></div>
    <script>
        var data = [{
            x: {{ data['country']|tojson }},
            y: {{ data['total_emissions']|tojson }},
            type: 'bar'
        }];

        var layout = {
            title: 'Émissions Totales par Pays',
            xaxis: { title: 'Pays' },
            yaxis: { title: 'Émissions Totales' }
        };

        Plotly.newPlot('bar-chart', data, layout);
    </script>
</body>
</html>
